.ForAllSuggestionBox {
  border: 1px solid rgb(24, 238, 5);
  align-items: center;
  background-color: antiquewhite;
  justify-content: center;
  width: 80%;
  height: 40vh;
  margin: 4px;
  border-radius: 20px;
  /* margin-bottom: 0px; 
  ;
  */
  /* position: absolute; */

  /* right: 0;
  bottom: 0; */
  /* position: absolute; */
  /* right: 0; */
}
